* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
}
@media (min-width: 992px) {
  body {
    padding: 0px;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  box-shadow: 0.1px 0.1px 3px rgba(0, 0, 0, 0.568);
  padding: 0 13%;
}
header .navigation {
  display: flex;
  align-items: center;
  max-width: 1200px;
  padding: 10px 0px 10px 0px;
}
@media (max-width: 992px) {
  header .navigation {
    display: none;
  }
}
header .navigation-logo {
  display: flex;
  padding: 3px;
  max-width: 190px;
}
header .navigation-group {
  display: none;
}
header .navigation .list {
  display: flex;
  padding: 10px;
  list-style: none;
  gap: 2rem;
}
header .navigation .list-item {
  max-width: 100px;
  width: 100%;
}
header .navigation .list-item a {
  display: flex;
  color: white;
  font-weight: 700;
  width: 90px;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
}
header .navigation .list-item a:hover {
  font-weight: 600;
  color: var(--color-purple-light);
}
header .mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 0px;
}
@media (max-width: 992px) {
  header .mobile {
    display: flex;
  }
}
header .mobile .burguerBtn {
  display: none;
  width: 50px;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}
header .mobile .burguerBtn i {
  font-size: 30px;
  color: var(--color-purple-light);
}
@media (max-width: 992px) {
  header .mobile .burguerBtn {
    display: block;
  }
}
header .mobile .list-mobile {
  list-style: none;
  max-width: 300px;
  width: 100vw;
  display: none;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  overflow: hidden;
  padding: 0.7rem;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}
header .mobile .list-mobile a {
  justify-content: center;
  font-weight: bold;
}
header .mobile .list-mobile.open {
  display: flex;
  height: 200px;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  main {
    flex-direction: row;
  }
}
main .content {
  padding: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  main .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8.75rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 128px;
    background-color: none;
    margin-top: 64px;
  }
}
main .content img {
  max-width: 328px;
  width: 100%;
  border-left: 3px solid var(--color-purple-main);
  border-bottom: 3px solid var(--color-purple-main);
  box-shadow: 0.1px 0.1px 2px var(--color-purple-main);
}
@media (min-width: 992px) {
  main .content img {
    max-width: 448px;
    max-height: 448px;
  }
}
main .content__text {
  display: flex;
  flex-direction: column;
  max-width: 568px;
  gap: 0.8rem;
}
@media (min-width: 992px) {
  main .content__text {
    gap: 1.5rem;
  }
}
main .content__text h1 {
  font-size: 2.2rem;
  margin-bottom: 0;
  margin-top: 10px;
}
@media (min-width: 992px) {
  main .content__text h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 71px;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    text-align: start;
    cursor: default;
  }
}
main .content__text h1:hover {
  color: var(--color-purple-light);
}
main .content__text p {
  padding: 10px;
  text-align: inherit;
  font-size: 1.1rem;
  max-width: 360px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.4px;
  color: #ffffff;
}
@media (min-width: 992px) {
  main .content__text p {
    max-width: 562px;
    text-align: justify;
    padding: 0px;
  }
}
main .content__text p a {
  font-size: 0.938rem;
  color: var(--color-purple-light);
  cursor: pointer;
  transition: 0.2s ease;
}
@media (min-width: 992px) {
  main .content__text p a {
    font-size: 1rem;
  }
}
main .content__text p a:hover {
  font-weight: 800;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ability h1 {
  margin-bottom: 30px;
}
.ability__container {
  display: flex;
  padding: 16px;
}
@media (min-width: 992px) {
  .ability__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ability__container-sets {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.ability__container-sets .set {
  display: flex;
  flex-direction: column;
  max-width: 354px;
  max-height: 305px;
  height: 100vh;
  gap: 10px;
  margin-bottom: 24px;
  text-align: start;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  padding: 0.7rem;
  overflow: hidden;
}
.ability__container-sets .set img {
  max-width: 40px;
  width: 100%;
}
.ability__container-sets .set p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.44px;
  text-align: initial;
}

.sites {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: none;
}
.sites__container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.sites__container-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  max-width: 490px;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--color-purple-main);
  -webkit-box-shadow: 10px 17px 32px -12px rgb(0, 0, 0);
  -moz-box-shadow: 10px 17px 32px -12px rgb(0, 0, 0);
  box-shadow: 10px 17px 32px -12px rgb(0, 0, 0);
}
@media (min-width: 992px) {
  .sites__container-card {
    max-width: 490px;
    cursor: pointer;
    flex-direction: row;
  }
}
.sites__container-card img {
  width: 80%;
  height: 30vh;
}
@media (min-width: 992px) {
  .sites__container-card img {
    max-width: 220px;
    width: 225%;
    height: 300px;
  }
}
.sites__container-card .coments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  text-align: left;
}
.sites__container-card .coments p {
  padding: 16px;
}
.sites__container-card .site-icons {
  min-width: 100px;
}
.sites__container-card:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
  box-shadow: 0.1px 0.1px 7px var(--color-purple-main);
}

.recommend {
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recommend h1 {
  font-size: 1.875rem;
}
@media (min-width: 992px) {
  .recommend h1 {
    font-size: 1.875rem;
  }
}
.recommend__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.recommend__container-card {
  max-width: 300px;
  width: 100%;
  display: flex;
  background: rgba(38, 41, 45, 0);
  padding: 10px;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  border: 1px solid var(--color-purple-main);
  -webkit-box-shadow: 10px 17px 32px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 17px 32px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 17px 32px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.recommend__container-card img {
  border-radius: 200px;
  max-width: 100px;
  width: 100%;
  filter: opacity(90%);
  border: 2px solid var(--color-purple-main);
}
.recommend__container-card .person {
  text-align: center;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.recommend__container-card .person a {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: row;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-top: 15px;
  margin-bottom: auto;
  cursor: pointer;
}
.recommend__container-card .person a i {
  padding: 5px;
}
.recommend__container-card .person a:hover {
  font-weight: normal;
  color: var(--color-purple-light);
  text-decoration: none;
}
.recommend__container-card .person p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 28px;
  letter-spacing: 0.44px;
  text-align: initial;
}
.recommend__container-card .person span {
  font-weight: 100;
}

footer .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  border-top: 1px solid var(--color-purple-light);
  border-bottom: 1px solid var(--color-purple-light);
}
footer .container__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  flex-direction: column;
  align-items: center;
  margin: 64px 0px 64px 0px;
}
@media (min-width: 992px) {
  footer .container__navigation {
    flex-direction: row;
    align-items: flex-start;
    gap: 129px;
  }
}
footer .container__navigation img {
  display: flex;
  padding: 3px;
  max-width: 190px;
  width: 100%;
  left: 0;
  top: 0;
}
footer .container__navigation-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container__navigation-item a {
  text-align: center;
  display: block;
}
@media (min-width: 992px) {
  footer .container__navigation-item a {
    text-align: start;
    display: flex;
  }
}
footer .container__navigation-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container__navigation-social .social-icons {
  display: flex;
  cursor: pointer;
  transition: 3s ease;
  gap: 1rem;
}
footer .container__navigation-social .social-icons a {
  display: contents;
}
footer .container__navigation-social img {
  max-width: 40px;
  width: 100%;
}
footer .container__navigation-social img:hover {
  transform: scale(1.2);
}
footer #toplist {
  color: var(--color-purple-light);
  text-align: center;
}
@media (min-width: 992px) {
  footer #toplist {
    text-align: start;
  }
}

.copyright {
  max-width: 1200px;
  width: 100%;
  margin: 22px auto;
}
.copyright p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=styles.css.map */